

thead {
   font-size: larger;
   font-weight: bolder;
}

td {
   font-size: large  ;
   padding: 10px;
}

.starter-img {
   height: 100px;
   width: 100px;
}

#poll-link {
   font-size: x-large;
}

#coming-soon {
   font-weight: bolder;
}